# MongoDB Connection String
# For local MongoDB: mongodb://localhost:27017/shantis-fitness
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/shantis-fitness

MONGODB_URI=mongodb://localhost:27017/shantis-fitness
PORT=5000
